@font-face {
  font-family: 'danh-da';
  src: url('./assets/danh-da-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {

  --primary-color:  #917B60;
  --secondary-color: #F6F3E3;
  --highlight: #E7DFD4;
  --logo: url('/public/logo4.png') no-repeat;


  font-family: "danh-da";
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
